.section{
    height: 50vh;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: scroll;
}

table {
    width: 100%;
}

.header-row {
    font-weight: bold;
}

button{
    margin-top: 20px;
}