<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 20px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-warning" (click)="openCargarDatos()" [disabled]="status">
                Cargar archivos
            </button>          
          </li>       
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': status, 'disabled': !status}" aria-current="page" href="home/clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': status, 'disabled': !status}" aria-current="page" href="home/catalogo">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': status, 'disabled': !status}" aria-current="page" href="home/compras">Compras</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Consultas generales
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="home/top-productos">Top 5 productos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="home/top-marcas">Top 5 marcas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="home/top-clientes">Top 5 clientes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="home/busqueda-clientes">Búsqueda por cliente</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Consultas especializadas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="home/cliente-producto-comun">Clientes y producto común</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="home/cliente-compra-comun">Clientes y compras en común</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
<div class="container" *ngIf="!status">
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            <h1>No se han cargado los datos</h1>
        </div>
    </div>
</div>
<router-outlet></router-outlet>