<div class="container-home">
    <div class="row align-items-center justify-content-center">
    <p>
        <mat-toolbar class="toolbar" color="primary">
            <button mat-icon-button class="example-icon">
                <mat-icon>home</mat-icon>
            </button>
            <span class="title-toolbar">Recomender</span>

            <span class="user-title-toolbar"></span>
            <button type="button" class="btn btn-warning">cargar archivos</button>

            <span class="user-title-toolbar"></span>
            <button type="button" class="btn btn-warning" (click)="openClientes()">
                clientes
            </button>

            <span class="user-title-toolbar"></span>
            <button type="button" class="btn btn-warning" (click)="openCatalogo()">
                catálogo
            </button>

            <span class="user-title-toolbar"></span>
            <button type="button" class="btn btn-warning" (click)="openCompras()">
                compras
            </button>

        </mat-toolbar>
    </p>
</div>

<router-outlet></router-outlet>