<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            <h2>Mantenimiento de clientes</h2>
        </div>
        <div class="col form-group">
            <input type="text" class="form-control" name="searchTerm" id="searchTerm"
            [(ngModel)]="searchTerm" placeholder="Nombre" (input)="search($event)">
        </div>
        <div class="col text-center">
            <button type="button" class="btn btn-success" (click)="openAgregarCliente()">Agregar Cliente</button>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col section">
            <table mat-table [dataSource]="dataSourceClientes" class="mat-elevation-z8">
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
            
              
                <!-- ID Column -->
                <ng-container matColumnDef="ID">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <!-- Nombre Column -->
                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                </ng-container>

                <!-- Apellido Column -->
                <ng-container matColumnDef="Apellido">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                </ng-container>

                <!-- Editar Column -->
                <ng-container matColumnDef="Editar">
                    <th mat-header-cell *matHeaderCellDef> Editar</th>
                    <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="favorite-icon search-icon" (click)="openEditarCliente(element.id, element.first_name, element.last_name)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    </td>
                </ng-container>


                <!-- Editar Column -->
                <ng-container matColumnDef="Eliminar">
                    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                    <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="favorite-icon search-icon" (click)="openEliminarCliente(element.id, element.first_name, element.last_name)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    </td>
                </ng-container>

              
                <tr mat-header-row *matHeaderRowDef="displayedColumnClientes" class="header-row"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnClientes;" class="content-row"></tr>
              </table>
        </div>
    </div>
</div>
